.portfolio-item img {
    box-shadow: 1px 1px 3px rgb(180, 180, 180);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.portfolio-item {
    opacity: 0.7;
    filter: blur(0.3px);
    filter: grayscale(50%);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.portfolio-item.in {
    animation: portfolioOut 0.1s forwards linear;
}

.portfolio-item.out {
    animation: portfolioIn 0.1s forwards linear;
}

@keyframes portfolioIn {
    0% {
        opacity: 1;
        transform: scale(1.03);
        filter: blur(0);
        filter: grayscale(30%);
    }

    100% {
        opacity: 0.7;
        transform: scale(1);
        filter: blur(0.3px);
        filter: grayscale(50%);
    }
}

@keyframes portfolioOut {
    0% {
        opacity: 0.7;
        transform: scale(1);
        filter: blur(0.3px);
        filter: grayscale(75%);
    }

    100% {
        opacity: 1;
        transform: scale(1.03);
        filter: blur(0);
        filter: grayscale(30%);
    }
}

.row {
    align-items: center;
    justify-content: center;
}

.header-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masthead {
    background-color: #8180804b !important;
    overflow: hidden;
}

.page-section {
    background-color: #eeeeee;
}

.tooltip-inner {
    background-color: #635a5a !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #635a5a !important;
}

h3 {
    color: #fff6f1;
}

.masthead-heading,
.masthead-subheading {
    text-shadow: 2px 2px 3px rgb(148, 138, 138);
}

.masthead .masthead-heading {
    margin-bottom: 1rem !important;
    font-family: "Fjalla One", sans-serif;
    cursor: default;
}

.masthead .masthead-subheading {
    cursor: default;
}

.masthead .masthead-avatar {
    border: 0.7rem solid rgba(78, 68, 68, 0.4);
    border-radius: 50%;
    max-height: 230px;
    max-width: 230px;
}

.masthead .masthead-avatar.in {
    animation: avatarIn 0.2s forwards linear;
}

.masthead .masthead-avatar.out {
    animation: avatarOut 0.1s forwards linear;
}

.row .link:hover {
    color: #694747;
}

@keyframes avatarIn {
    100% {
        border: 0.9rem solid rgba(78, 68, 68, 0.4);
        max-height: 240px;
        max-width: 240px;
        opacity: 0.9;
    }
}

@keyframes avatarOut {
    0% {
        border: 0.9rem solid rgba(78, 68, 68, 0.4);
        max-height: 240px;
        max-width: 240px;
        opacity: 0.9;
    }

    100% {
        border: 0.7rem solid rgba(78, 68, 68, 0.4);
        max-height: 230px;
        max-width: 230px;
    }
}

.about-me {
    padding: 0 0.5rem 0rem 0.5rem;
    text-align: justify;
}

.mb-5 {
    margin-bottom: 4rem !important;
}

.social-icons {
    margin-top: 1rem;
}

.page-section-heading {
    margin-bottom: 3rem !important;
    cursor: default;
}

#about .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dev-icons {
    color: #e2e0dd;
    font-size: 3rem;
    padding-left: 0;
    text-align: center;
    margin: 1rem;
}

.dev-icons .list-inline-item.in {
    animation: devIn 0.3s forwards;
}

.dev-icons .list-inline-item.out {
    animation: devOut 0.3s forwards;
}

@keyframes devIn {
    100% {
        color: #3b4e57;
    }
}

@keyframes devOut {
    100% {
        color: #e2e0dd;
    }
}

.link {
    color: #fff;
}

.link:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

section {
    cursor: default;
}
